Question1
Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.
Examples
filter_list([1, 2, 3, "a", "b", 4]) ➞ [1, 2, 3, 4]

filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]) ➞ [0, 1729]

filter_list(["Nothing", "here"]) ➞ []

In [1]:
def filter_list(list1):
    new=[]
    for i in list1:
        if type(i)==int:
            new.append(i)
        else:
            continue
    else:
        print(new)

In [2]:
filter_list([1,2,3,'a','b',4])

[1, 2, 3, 4]

Question2
Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...
Examples
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]

add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]

add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [3]:
def add_indexes(list1):
    new = []
    for i in list1:
        new.append(list1.index(i))
    else:
        print("index is :\t" , new)
        print("list is :\t" , list1)
        k = 0
        j = 0
        for i in new:
            list1[j] = list1[j] + i
            j +=1
        else :
            return list1

In [4]:
add_indexes([1,2,3,4])

index is :	 [0, 1, 2, 3]
list is :	 [1, 2, 3, 4]

[1, 3, 5, 7]

Question3
Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.
 
Examples
cone_volume(3, 2) ➞ 12.57

cone_volume(15, 6) ➞ 565.49

cone_volume(18, 0) ➞ 0

In [5]:
import math
pi = math.pi
 
# Function to calculate Volume of Cone
def cone_volume(r, h):
    return round((1 / 3) * pi * r * r * h)
 

# Driver Code
radius = float(5)
height = float(12)

print( "Volume Of Cone : ", cone_volume(radius, height) )

Volume Of Cone :  314

In [6]:
cone_volume(3, 2)

19

Question4
This Triangular Number Sequence is generated from a pattern of dots that form a triangle. The first 5 numbers of the sequence, or dots, are: 
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the sequence.
Examples
triangle(1) ➞ 1

triangle(6) ➞ 21

triangle(215) ➞ 23220

In [7]:
## just with the simple logic ,wwe can solve this problem !!

# 0,1,2,3......-> contains how my dots ? -----> 0,1,3,6,10..

In [8]:
# based on the formula , we can generalize ! --->n(n+1)/2

In [9]:
def triangle(sequence_no):
    return sequence_no*(sequence_no+1)//2

In [10]:
triangle(6)

21

In [11]:
triangle(215)

23220

Question5
Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.
Examples
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5

missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10

missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [12]:
def missing_num(list1):
    for i in range(1,11):
        if i in list1:
            continue
        else :
            print(i)
            break

In [13]:
missing_num([1,2,3,4,6,7,8,9,10])

5

In [14]:
missing_num([7,2,3,4,1,6,9,10,5])

8